body{
    background-color: rgb(108, 108, 236);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color:white;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.548);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}